.IconSizeXXS {
  width: 0.16rem;
  height: 0.16rem;
}
.IconSizeXS {
  width: 0.24rem;
  height: 0.24rem;
}
.IconSizeS {
  width: 0.32rem;
  height: 0.32rem;
}
.IconSizeM {
  width: 0.48rem;
  height: 0.48rem;
}
.IconSizeL {
  width: 0.5rem;
  height: 0.5rem;
}
.IconSizeXL {
  width: 0.64rem;
  height: 0.64rem;
}
.IconSizeXXL {
  width: 0.88rem;
  height: 0.88rem;
}
.IconSizeXXXL {
  width: 1.12rem;
  height: 1.12rem;
}
.IconSizeTips {
  width: 0.26rem;
  height: 0.26rem;
}
.IconSize40 {
  width: 0.4rem;
  height: 0.4rem;
}
.IconHelp {
  background-image: url('../img/icon-help.png');
  background-size: 100% 100%;
}
.IconArrow {
  background-image: url('../img/icon-rightArrow.png');
  background-size: 100% 100%;
}
.IconTipArrow {
  background-image: url('../img/icon-tip-rightArrow.png');
  background-size: 100% 100%;
}
.IconTip {
  background-image: url('../img/icon-tip.png');
  background-size: 100% 100%;
}
.IconClose {
  background-image: url('../img/icon-close.png');
  background-size: 100% 100%;
}
.IconMessage {
  background-image: url('../img/icon-message.png');
  background-size: 100% 100%;
}
.line-clamp-1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
.font-normal {
  font-family: "PingFangSC-Regular", "Microsoft YaHei", Arial, sans-serif;
}
.font-medium {
  font-family: 'PingFangSC-Medium', "Microsoft YaHei", Arial, sans-serif;
}
.showUp-enter-active {
  animation: showUp 0.3s;
}
.showUp-leave-active {
  animation: leaveUp 0.3s;
}
@keyframes showUp {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes leaveUp {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}
