html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  font-family: "PingFangSC-Regular", "Microsoft YaHei", Arial, sans-serif;
}
p {
  margin: 0;
  padding: 0;
}
button {
  border: none;
  background: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #41b4fe;
  vertical-align: middle;
}
* {
  -webkit-overflow-scrolling: touch;
}
#container {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.flex_column {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}
.flex_flex {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  position: relative;
}
.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.allCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.horizontal_center {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.vertical_center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: none;
  outline: none;
  border: 0;
}
::-webkit-search-cancel-button {
  display: none;
}
input[type="search"] {
  -webkit-appearance: none;
}
::-webkit-scrollbar-thumb {
  background-color: #848484;
  height: 0;
  outline-offset: 0;
  -webkit-border-radius: 0;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
  -webkit-border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5e6d7d;
  height: 0;
  -webkit-border-radius: 0;
}
.regular {
  font-family: "PingFangSC-Regular", "Microsoft YaHei", Arial, sans-serif;
}
.medium {
  font-family: "PingFangSC-Medium", "Microsoft YaHei", Arial, sans-serif;
}
.btn {
  background: #ccc;
  border-radius: 1rem;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  color: #fff;
  font-size: 0.34rem;
  text-align: center;
}
.btn.active {
  background: #41b24e;
}
